################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Code/CS/Src/CNDP/CNDP.Basic/.vs/CNDP.Basic
/Code/CS/Src/CNDP/CNDP.Basic/obj
